DATABASE_URL = postgres://postgres:123456@127.0.0.1:5432/dummy - url from step 3
FOOD_CENTRAL_API_KEY = test_key - key from step 5

FLASK_APP=app.py
FLASK_ENV = development
AWS_BUCKET_NAME= dummy image - bucket s3 aws name
AWS_ACCESS_KEY=dummy_access_key
AWS_SECRET_ACCESS_KEY=dummy_secret_key
AWS_DOMAIN=http://dummy.s3.amazonaws.com/ - bucket s3 aws domain
